In [3]:
import pandas as pd

# adjusting the path to the file is necessary, because the script is not executed in the same directory as the file
# import os
# print(os.getcwd()) # get current working directory to see where the script is executed

# Load the data into a DataFrame
file_path = 'Desktop/1.Semester/MachineLearing/Project/CO2/data/ESGEXCEL.csv' # please adjust the path to the file

try:
    data = pd.read_csv(file_path, delimiter=';', on_bad_lines='warn')
except pd.errors.ParserError as e:
    print(f"Error parsing CSV: {e}")

data.shape

/Users/frederikbomheuer

(16969, 68)

In [13]:
# Inspect the columns of the DataFrame
print("Columns in the DataFrame:", data.columns)
print("Column data types:")
data.dtypes

Columns in the DataFrame: Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023'],
      dtype='object')
Column data types:

Country Name      object
Country Code      object
Indicator Name    object
Indicator Code    object
1960              object
                   ...
2019              object
2020              object
2021              object
2022              object
2023              object
Length: 68, dtype: object

In [12]:
# Display the first few rows of the transformed DataFrame
print("Overview of the first 5 rows in the DataFrame:")
data.head()

Overview of the first 5 rows in the DataFrame:

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Arab World,ARB,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,"86,70571737","86,94277798","87,22870518","87,39085552","87,61786211","87,79873981","87,94826443","88,09253583",NaN,NaN
1,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,"88,83227593","89,05385159","89,53901606","90,66275374","89,17693883","90,35280229","90,63505001","90,84566129",NaN,NaN
2,Arab World,ARB,Adjusted savings: natural resources depletion ...,NY.ADJ.DRES.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,"10,05055446","6,130654513","5,265859073","6,245422284","8,187713883","7,234435527","4,598505988",NaN,NaN,NaN
3,Arab World,ARB,Adjusted savings: net forest depletion (% of GNI),NY.ADJ.DFOR.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,"0,084360637","0,096672323","0,092911395","0,102683973","0,057123056","0,064515779","0,075685583",NaN,NaN,NaN
4,Arab World,ARB,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,"30,9814141","30,98266305","31,00705428","31,01800095","31,04246564",...,"39,8344215","39,87257452","39,93781393","39,98445203","39,96973753","39,90703091","39,97329048","39,97074236",NaN,NaN

In [4]:
print("Descriptive statistics of the columns:")
data.describe()

Descriptive statistics of the columns:

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
count,16969,16969,16969,16969,1623,2156,2165,2170,2175,2212,...,12509,12390,11783,11577,11710,11440,10731,7215,3640,453
unique,239,239,71,71,1541,2078,2090,2089,2095,2126,...,10724,10621,10136,10025,9972,9988,9467,6334,3543,445
top,Arab World,ARB,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,0,0,0,0,0,0,...,0,0,0,0,0,0,0,100,100,"6,235160271"
freq,71,71,239,239,27,17,17,16,15,21,...,372,367,266,271,280,265,268,178,15,3

In [28]:
# get more information about the columns
data['Indicator Name'].unique()

array(['Access to clean fuels and technologies for cooking (% of population)',
       'Access to electricity (% of population)',
       'Adjusted savings: natural resources depletion (% of GNI)',
       'Adjusted savings: net forest depletion (% of GNI)',
       'Agricultural land (% of land area)',
       'Agriculture, forestry, and fishing, value added (% of GDP)',
       'Annual freshwater withdrawals, total (% of internal resources)',
       'Annualized average growth rate in per capita real survey mean consumption or income, total population (%)',
       'Cause of death, by communicable diseases and maternal, prenatal and nutrition conditions (% of total)',
       'Children in employment, total (% of children ages 7-14)',
       'CO2 emissions (metric tons per capita)', 'Coastal protection',
       'Control of Corruption: Estimate', 'Cooling Degree Days',
       'Economic and Social Rights Performance Score',
       'Electricity production from coal sources (% of total)',
       'Energy imports, net (% of energy use)',
       'Energy intensity level of primary energy (MJ/$2017 PPP GDP)',
       'Energy use (kg of oil equivalent per capita)',
       'Fertility rate, total (births per woman)',
       'Food production index (2014-2016 = 100)',
       'Forest area (% of land area)',
       'Fossil fuel energy consumption (% of total)',
       'GDP growth (annual %)',
       'GHG net emissions/removals by LUCF (Mt of CO2 equivalent)',
       'Gini index', 'Government Effectiveness: Estimate',
       'Government expenditure on education, total (% of government expenditure)',
       'Heat Index 35', 'Heating Degree Days',
       'Hospital beds (per 1,000 people)',
       'Income share held by lowest 20%',
       'Individuals using the Internet (% of population)',
       'Labor force participation rate, total (% of total population ages 15-64) (modeled ILO estimate)',
       'Land Surface Temperature',
       'Level of water stress: freshwater withdrawal as a proportion of available freshwater resources',
       'Life expectancy at birth, total (years)',
       'Literacy rate, adult total (% of people ages 15 and above)',
       'Mammal species, threatened',
       'Methane emissions (metric tons of CO2 equivalent per capita)',
       'Mortality rate, under-5 (per 1,000 live births)', 'Net migration',
       'Nitrous oxide emissions (metric tons of CO2 equivalent per capita)',
       'Patent applications, residents',
       'People using safely managed drinking water services (% of population)',
       'People using safely managed sanitation services (% of population)',
       'PM2.5 air pollution, mean annual exposure (micrograms per cubic meter)',
       'Political Stability and Absence of Violence/Terrorism: Estimate',
       'Population ages 65 and above (% of total population)',
       'Population density (people per sq. km of land area)',
       'Poverty headcount ratio at national poverty lines (% of population)',
       'Prevalence of overweight (% of adults)',
       'Prevalence of undernourishment (% of population)',
       'Proportion of bodies of water with good ambient water quality',
       'Proportion of seats held by women in national parliaments (%)',
       'Ratio of female to male labor force participation rate (%) (modeled ILO estimate)',
       'Regulatory Quality: Estimate',
       'Renewable electricity output (% of total electricity output)',
       'Renewable energy consumption (% of total final energy consumption)',
       'Research and development expenditure (% of GDP)',
       'Rule of Law: Estimate', 'School enrollment, primary (% gross)',
       'School enrollment, primary and secondary (gross), gender parity index (GPI)',
       'Scientific and technical journal articles',
       'Standardised Precipitation-Evapotranspiration Index',
       'Strength of legal rights index (0=weak to 12=strong)',
       'Terrestrial and marine protected areas (% of total territorial area)',
       'Tree Cover Loss (hectares)',
       'Unemployment, total (% of total labor force) (modeled ILO estimate)',
       'Unmet need for contraception (% of married women ages 15-49)',
       'Voice and Accountability: Estimate'], dtype=object)

In [6]:
data['Indicator Code'].unique()

array(['EG.CFT.ACCS.ZS', 'EG.ELC.ACCS.ZS', 'NY.ADJ.DRES.GN.ZS',
       'NY.ADJ.DFOR.GN.ZS', 'AG.LND.AGRI.ZS', 'NV.AGR.TOTL.ZS',
       'ER.H2O.FWTL.ZS', 'SI.SPR.PCAP.ZG', 'SH.DTH.COMM.ZS',
       'SL.TLF.0714.ZS', 'EN.ATM.CO2E.PC', 'EN.CLC.CSTP.ZS', 'CC.EST',
       'EN.CLC.CDDY.XD', 'SD.ESR.PERF.XQ', 'EG.ELC.COAL.ZS',
       'EG.IMP.CONS.ZS', 'EG.EGY.PRIM.PP.KD', 'EG.USE.PCAP.KG.OE',
       'SP.DYN.TFRT.IN', 'AG.PRD.FOOD.XD', 'AG.LND.FRST.ZS',
       'EG.USE.COMM.FO.ZS', 'NY.GDP.MKTP.KD.ZG', 'EN.CLC.GHGR.MT.CE',
       'SI.POV.GINI', 'GE.EST', 'SE.XPD.TOTL.GB.ZS', 'EN.CLC.HEAT.XD',
       'EN.CLC.HDDY.XD', 'SH.MED.BEDS.ZS', 'SI.DST.FRST.20',
       'IT.NET.USER.ZS', 'SL.TLF.ACTI.ZS', 'EN.LND.LTMP.DC',
       'ER.H2O.FWST.ZS', 'SP.DYN.LE00.IN', 'SE.ADT.LITR.ZS',
       'EN.MAM.THRD.NO', 'EN.ATM.METH.PC', 'SH.DYN.MORT', 'SM.POP.NETM',
       'EN.ATM.NOXE.PC', 'IP.PAT.RESD', 'SH.H2O.SMDW.ZS',
       'SH.STA.SMSS.ZS', 'EN.ATM.PM25.MC.M3', 'PV.EST',
       'SP.POP.65UP.TO.ZS', 'EN.POP.DNST', 'SI.POV.NAHC',
       'SH.STA.OWAD.ZS', 'SN.ITK.DEFC.ZS', 'EN.H2O.BDYS.ZS',
       'SG.GEN.PARL.ZS', 'SL.TLF.CACT.FM.ZS', 'RQ.EST', 'EG.ELC.RNEW.ZS',
       'EG.FEC.RNEW.ZS', 'GB.XPD.RSDV.GD.ZS', 'RL.EST', 'SE.PRM.ENRR',
       'SE.ENR.PRSC.FM.ZS', 'IP.JRN.ARTC.SC', 'EN.CLC.SPEI.XD',
       'IC.LGL.CRED.XQ', 'ER.PTD.TOTL.ZS', 'AG.LND.FRLS.HA',
       'SL.UEM.TOTL.ZS', 'SP.UWT.TFRT', 'VA.EST'], dtype=object)

In [7]:
data['Country Name'].unique()

array(['Arab World', 'Caribbean small states',
       'Central Europe and the Baltics', 'Early-demographic dividend',
       'East Asia & Pacific',
       'East Asia & Pacific (excluding high income)',
       'East Asia & Pacific (IDA & IBRD)', 'Euro area',
       'Europe & Central Asia',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia (IDA & IBRD)', 'European Union',
       'Fragile and conflict affected situations',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'IBRD only', 'IDA & IBRD total', 'IDA blend', 'IDA only',
       'IDA total', 'Late-demographic dividend',
       'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & Caribbean (IDA & IBRD)',
       'Least developed countries: UN classification',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Middle East & North Africa',
       'Middle East & North Africa (excluding high income)',
       'Middle East & North Africa (IDA & IBRD)', 'Middle income',
       'North America', 'OECD members', 'Other small states',
       'Pacific island small states', 'Post-demographic dividend',
       'Pre-demographic dividend', 'Small states', 'South Asia',
       'South Asia (IDA & IBRD)', 'Sub-Saharan Africa',
       'Sub-Saharan Africa (excluding high income)',
       'Sub-Saharan Africa (IDA & IBRD)', 'Upper middle income', 'World',
       'Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas, The', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador',
       'Egypt, Arab Rep.', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran, Islamic Rep.', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       "Korea, Dem. People's Rep.", 'Korea, Rep.', 'Kuwait',
       'Kyrgyz Republic', 'Lao PDR', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia, Fed. Sts.', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Macedonia', 'Norway', 'Oman',
       'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovak Republic',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Sudan', 'Spain', 'Sri Lanka', 'St. Kitts and Nevis',
       'St. Lucia', 'St. Vincent and the Grenadines', 'Sudan', 'Suriname',
       'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Tajikistan',
       'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkiye', 'Turkmenistan',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Venezuela, RB', 'Viet Nam', 'Yemen, Rep.', 'Zambia',
       'Zimbabwe'], dtype=object)

Column data types:

Country Name      object
Country Code      object
Indicator Name    object
Indicator Code    object
1960              object
                   ...
2019              object
2020              object
2021              object
2022              object
2023              object
Length: 68, dtype: object

**Findings from the global overview**

This global overview gives away the following facts about the available data:

- shape: 68 columns, 16969 rows
- all columns are of type "object" - neither numeric, nor string/text values
A certain amount of missing values, denoted both as NaN (not a number values)
- The columns represent key values such as country, but also the corresponding years and the indicator code/name
- The columns 'Country Code' and 'Indicator Code' do not give any information and are therefore obsolete
- The column 'Indicator Name' contains the country-specific features required for the analysis
- The names of the features in the column 'Indicator Name' are clear but too long

**Data Cleaning**

1. Removing the unnecessary columns "Country Code", "Indicator code"

In [30]:
# assign the data to a new DataFrame, which will be modified
data_clean = data

print("Original number of columns:")
print(data_clean.shape[1])

data_clean = data_clean.drop(['Country Code', 'Indicator Code'], axis='columns')

print("Current number of columns:")
print(data_clean.shape[1])

Original number of columns:
68
Current number of columns:
66

In [36]:
# Convert only the relevant columns to numeric types
numeric_columns = data_clean.columns[2:]  # the first four columns are non-numeric
data_clean[numeric_columns] = data_clean[numeric_columns].apply(pd.to_numeric, errors='coerce')

# Print the column data types after transformation
print("Column data types after transformation:")
print(data_clean.dtypes)

Column data types after transformation:
Country Name       object
Indicator Name     object
1960              float64
1961              float64
1962              float64
1963              float64
1964              float64
1965              float64
1966              float64
1967              float64
1968              float64
1969              float64
1970              float64
1971              float64
1972              float64
1973              float64
1974              float64
1975              float64
1976              float64
1977              float64
1978              float64
1979              float64
1980              float64
1981              float64
1982              float64
1983              float64
1984              float64
1985              float64
1986              float64
1987              float64
1988              float64
1989              float64
1990              float64
1991              float64
1992              float64
1993              float64
1994              float64
1995              float64
1996              float64
1997              float64
1998              float64
1999              float64
2000              float64
2001              float64
2002              float64
2003              float64
2004              float64
2005              float64
2006              float64
2007              float64
2008              float64
2009              float64
2010              float64
2011              float64
2012              float64
2013              float64
2014              float64
2015              float64
2016              float64
2017              float64
2018              float64
2019              float64
2020              float64
2021              float64
2022              float64
2023              float64
dtype: object

In [38]:
# save the feature names into a list of strings
chosen_cols = data_clean['Indicator Name'].unique()

# define an empty list, where sub-dataframes for each feature will be saved
frame_list = []

# iterate over all chosen features
for variable in chosen_cols:
    
    # pick only rows corresponding to the current feature
    frame = data_clean[data_clean['Indicator Name'] == variable]
    
    # melt all the values for all years into one column and rename the columns correspondingly
    frame = frame.melt(id_vars=['Country Name', 'Indicator Name']).rename(columns={'Country Code': 'country', 'variable': 'year', 'value': variable}).drop(['Indicator Name'], axis='columns')
    
    # add the melted dataframe for the current feature into the list
    frame_list.append(frame)


# merge all sub-frames into a single dataframe, making an outer binding on the key columns 'country','year'
from functools import reduce
all_vars = reduce(lambda left, right: pd.merge(left, right, on=['country','year'], how='outer'), frame_list)

KeyError: 'country'